/* === ESTILO GLOBAL OSCURO === */
/* === FONDO GLOBAL === */
html, body {
  background-color: #000000 !important; /* Fondo negro real */
  color: #ffffff !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Para que Angular no sobreescriba el fondo */
:host {
  display: block;
  background-color: #000000 !important;
}

/* === TÍTULO PRINCIPAL === */
h1 {
  color: #ff0077;
  text-align: center;
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 10px #ff0088;
}

/* === PÁRRAFOS === */
p {
  text-align: center;
  font-size: 18px;
  color: #dddddd; /* texto visible sobre fondo negro */
}

/* === ENCABEZADO CON BANDERAS === */
.titulo-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.titulo-principal h1 {
  color: #ff0077;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

.bandera {
  width: 45px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #ffffff44;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s;
}

.bandera:hover {
  transform: scale(1.1);
}
.mensaje-extra {
  font-size: 1.8rem;
  color: #ff00aa;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #ff00ff;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  letter-spacing: 1px;
  animation: brillo 3s infinite alternate;
}

h2 {
  font-size: 1.5rem;
  color: #f1ee0b;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #ff00ff;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  letter-spacing: 1px;
  animation: brillo 3s infinite alternate;
}