.panel-admin {
  text-align: center;
  background-color: #0a0a0a;
  color: white;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  margin: 40px auto;
  box-shadow: 0 0 30px rgba(255, 0, 255, 0.2);
}

canvas {
  margin-top: 20px;
  max-width: 400px;
}
.admin-panel {
  text-align: center;
  margin-top: 40px;
  color: white;
}

.card {
  margin-bottom: 30px;
}

.chart-container {
  width: 500px;
  margin: 0 auto;
}
